* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 207, 207);
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like-button {
  cursor: pointer;
}

.app-wrapper {
  height: 100%;
}

.app-footer {
  padding: 1rem;
  text-align: center;
  background-color: white;
  width: 100%;
}

/* popup */

.up-modal{
  display: none;
  background-color: seagreen;
  width:70%;
  height: 60%;
  top: 20%;
  left: 15%;
  position: absolute;
  z-index: 3;
}

.up-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}


.up-close{
  position: relative;
  float: right;
  background: red;
  color: white;
  top: -20px;
}

.up-close:hover{
  cursor: pointer;
}
